body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #AD321A; 
  color: #fff; 
}

.login-container {
    margin-top:-350px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #AD321A; 
}

.login-box {
  background: transparent; 
  padding: 40px 50px;
  width: 400px;
  border-radius: 12px;
  box-shadow: none;
  text-align: center;
  color: white;
}

.login-box h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-size: 15px;
  color: #fff;
  transition: border 0.3s ease;
}

.login-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-box input:focus {
  border-bottom: 1px solid #fff;
}
/* ---------------------------------------------------- */
/* NEW KEYFRAMES ANIMATION */
/* ---------------------------------------------------- */

.login-box button {
  background-color: transparent;
  color: #fff;
  padding: 14px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative; 
  overflow: hidden;  
  z-index: 1;   
  
  transition: color 0.5s ease, border-color 0.5s ease;
}
.login-box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; 
  background-color: #fff;
  z-index: -1;
  
 
  transition: width 2s cubic-bezier(.785,.135,.15,.86); 
}

.login-box button:hover {
 
  color: #AD321A;
  border-color: #fff;
}

.login-box button:hover::before {
 
  width: 100%;
}

.login-box .forgot {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

.login-box .forgot a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.login-box .forgot a:hover {
  text-decoration: underline;
  color: #ddd;
}

.signup-link {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
  color: #ddd;
}
.login-box .back-to-login {
  margin-top: 25px; /* Adds space above the text */
  font-size: 14px;
  color: #fff;
}
.v-stack {
  grid-template-columns: minmax(0,1fr);
  align-content: start;
  display:grid;
}


